<!doctype html>
<html>
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    {{ 'omni-audio-player.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
<body>
  <div class="background">
      
  </div>

  <div class="container">
      <div class="product-img">
          <img src="{{ product.featured_image.src | img_url: 'medium' }}" class="active" id="cover" alt="{{ product.title }}" />
      </div>

      <h2 id="product-title">{{ product.title }}</h2>

      <div class="player-progress" id="player-progress">
                <div class="progress" id="progress"></div>
                <div class="music-duration">
                  <span id="current-time">0:00</span>
                  <span id="duration">0:00</span>
                </div>
      </div>

      <div class="player-controls">
                <i class="fa-solid fa-backward previous-button" 
                title="Previous" id="prev"></i>
                <i class="fa-solid fa-play play-button"
                title="Play" id="omniPlayBtn"></i>
                <i class="fa-solid fa-forward"
                title="Next" id="next"></i>
      </div>

    </div>
      


  </div>
  document.addEventListener('DOMContentLoaded', function() {
  <script src="{{ 'Omni-audio-player.j' | asset_url }}" defer="defer"></script>
});
   
</body>
</html>


{% schema %}
    {
        "name": "Omni player",
        "settings": []
    }
{% endschema %}

{% javascript %}
        const audioPlayer = document.getElementById('productAudioPlayer');

        // Get reference to the product info elements
        const productImg = document.getElementById('productImg');
        const productTitle = document.getElementById('product-title');

        // Add event listener to update product info visibility when play button is clicked
        document.getElementById('omniPlayBtn').addEventListener('click', function() {
          if (audioPlayer.paused) {
            audioPlayer.play();
            productImg.style.display = 'block';
            productTitle.style.display = 'block';
          } else {
            audioPlayer.pause();
          }
        });
{% endjavascript %}

{% style %}


{% endstyle %}
